h1 {
  font-size: 70px;
}

.index {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.outerLink {
  color: #fff;
}

.outerLink:hover {
  font-size: 2rem;
}

.challenges {
  background-color: var(--primary);
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.link {
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 400px;
  height: 250px;
  padding: 10px;
  border-radius: 3px;
  background-color: var(--secondary);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  color: var(--primary);
}

a:link:active:hover:visited {
  text-decoration: none;
}
