.back-home {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  border-radius: 8px;
  background-color: var(--secondary);
  color: var(--primary);
  opacity: 0.8;
  font-size: 1.3rem;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  z-index: 99999;
}

.back-home:hover {
  font-size: 1.5rem;
}
